In [69]:
import pandas as pd
import numpy as np

In [68]:
#Importando dataset
df = pd.read_csv(r'C:\Users\User\Documents\DADOS\Datasets 2\vendas_carros\DF\Car Sales.xlsx - car_data.csv')

In [73]:
#Visualizando dt
df.head()

,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,C_CND_000002,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville

Entendendo DataSet

Car_id corresponde ao id do carro "Chave Primária"

Date corresponde a data de compra do veículo

Customer Name	corresponde ao nome do cliente

Gender corresponde ao Gênero do cliente

Annual Income corresponde a renda anual

Dealer_Name corresponde ao nome do revendedor

Company responde a compania ou marca do veículo

Model corresponde ao modelo do veículo

Engine corresponde ao motor do veículo

Transmission corresponde a transmissão do carro se ele é automático ou manual

Color corresponde a cor do carro~

Price corresponde ao valor do carro

Dealer_No corresponde a numeração da revendedora do veículo

Body Style	 corresponde ao estilo corporal do carro

Phone corresponde ao telefone do cliente

Dealer_Region corresponde a região do revendedor

In [75]:
#Traduzindo nome das colunas para PT-BR
df.rename(columns={'Car_id' : 'ID_Carro',	'Date' : 'Data',	'Customer Name' : 'Nome do Cliente',	'Gender'	: 'Gênero', 'Annual Income' : 'Renda Anual',	'Dealer_Name' : 'Nome do Revendedor',	'Company' : 'Compania/Marca',	'Model' :  'Modelo',	'Engine' : 'Motor',	'Transmission' : 'Transmissão',	'Color'	:   'Cor', 'Price ($)' : 'Preço',	'Dealer_No' : 'Numeração_R'
'evendedora ' ,	'Body Style' : 'Estilo_do_Corpo_do_Veículo', 'Phone' : 'Numero do telefone',	'Dealer_Region' : 'Região do Revendedor'}, inplace=True)

In [80]:
df.rename(columns={'Nome do Cliente' : 'Nome_Cliente'}, inplace=True)

In [76]:
df.rename(columns={'Estilo do Corpo do Veículo' : 'Estilo_do_Corpo_do_Veículo'}, inplace=True)

In [77]:
#Vizualizando colunas
df.head(0)

Empty DataFrame
Columns: [ID_Carro, Data, Nome do Cliente, Gênero, Renda Anual, Nome do Revendedor, Compania/Marca, Modelo, Motor, Transmissão, Cor, Preço, Dealer_No , Estilo_do_Corpo_do_Veículo, Numero do telefone, Região do Revendedor]
Index: []

In [62]:
#Traduzindo a coluna de Gêneros
df
df.replace({'Male' : 'Masculino', 'Female' : 'Feminino'}, inplace=True)

In [ ]:
#Verificando se foi traduzido a coluna de Gêneros
df.Gênero.unique()

array(['Masculino', 'Feminino'], dtype=object)

Verificando se tem colunas com valores nulos

Retiramos os valores nulos para ajudar o nosso estudo ja que alguns DataSets possuem alguns valores nulos

In [81]:
 #Verificando se tem colunas com valores nulos
df.isnull().sum()

ID_Carro                      0
Data                          0
Nome_Cliente                  1
Gênero                        0
Renda Anual                   0
Nome do Revendedor            0
Compania/Marca                0
Modelo                        0
Motor                         0
Transmissão                   0
Cor                           0
Preço                         0
Dealer_No                     0
Estilo_do_Corpo_do_Veículo    0
Numero do telefone            0
Região do Revendedor          0
dtype: int64

In [85]:
#Alterando o valor nulo da coluna do nome dos clientes como Descinhecido
df.Nome_Cliente.fillna('Desconhecido', inplace=True)
#Verificando se ainda tem algum valor nulo no dataset
df.isnull().sum()

ID_Carro                      0
Data                          0
Nome_Cliente                  0
Gênero                        0
Renda Anual                   0
Nome do Revendedor            0
Compania/Marca                0
Modelo                        0
Motor                         0
Transmissão                   0
Cor                           0
Preço                         0
Dealer_No                     0
Estilo_do_Corpo_do_Veículo    0
Numero do telefone            0
Região do Revendedor          0
dtype: int64

Alteração de dados

Alterei os dados pois valores com dados errados prejudica o andamento da analise atrapalhando assim atrapalhando os nossos estudos

In [ ]:
#Verificando se tem colunas com dados errados
df.dtypes

ID_Carro                      object
Data                          object
Nome_Cliente                  object
Gênero                        object
Renda Anual                    int64
Nome do Revendedor            object
Compania/Marca                object
Modelo                        object
Motor                         object
Transmissão                   object
Cor                           object
Preço                          int64
Dealer_No                     object
Estilo_do_Corpo_do_Veículo    object
Numero do telefone             int64
Região do Revendedor          object
dtype: object

In [ ]:
#alterando a data para para date
df['Data'] = df['Data'].astype('datetime64[ns]')
#conferindo
df.dtypes

ID_Carro                              object
Data                          datetime64[ns]
Nome_Cliente                          object
Gênero                                object
Renda Anual                            int64
Nome do Revendedor                    object
Compania/Marca                        object
Modelo                                object
Motor                                 object
Transmissão                           object
Cor                                   object
Preço                                  int64
Dealer_No                             object
Estilo_do_Corpo_do_Veículo            object
Numero do telefone                     int64
Região do Revendedor                  object
dtype: object